<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>{{post.h1[n]}}</h1></div>
           </div>
        <div class="content">
            <div class="card">
                <h2>{{post.h2[n]}}</h2>
                <p>{{post.p[n]}}</p>
            </div>

    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ by Noor.</p>
</footer>
</html>